@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lalezar", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  padding: 2rem;
}

.container {
  display: flex;
  width: 100%;
  max-width: 120rem;
  height: 80vh;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  border-radius: 5rem;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 1rem;
  position: relative;
  transition: flex 0.7s ease-in-out;
}

.panel h3 {
  font-size: 3.6rem;
  color: #fff4a3;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.2rem 2.4rem;
  border-radius: 5rem 2rem 5rem 2rem;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  margin: 0;
  opacity: 0;
  /* white-space: nowrap; */
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.7s ease-in 0.3s;
}
/* --- MOBILE RESPONSIVE TWEAKS --- */
@media (max-width: 480px) {
  .body {
    overflow-y: auto;
  }

  .container {
    flex-direction: column;
    height: auto;
    width: 100%;
  }

  .panel {
    height: 15vh;
    min-height: 100px;
    margin: 0.8rem 0;
    transition: height 0.5s ease-in;
  }

  .panel.active {
    height: 60vh;
    flex: none;
  }

  .panel h3 {
    font-size: 2.4rem;
    bottom: 1.5rem;
    right: 1.5rem;
    padding: 0.8rem 1.6rem;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
